<div>
	
	<div class="row">		
		<div class="span2">
			<ul class="nav nav-list">
				<li class="nav-header">Campaign</li>
				<li data-bind="css: { active: viewType() === 'home'}"><a href="#" data-bind="click: navHome">Home</a></li>

				<li data-bind="css: { active: viewType() === 'settings'}">
					<a href="#" data-bind="click: navSettings">Settings</a>
				</li>

				<li class="nav-header">Characters</li>
				<!-- ko foreach: campaign().characters -->
				<li data-bind="css: { active: $parent.viewType() ==  id()}">
					<a href="#" data-bind="click: $parent.navCharacter, text: name"></a>
				</li>
				<!-- /ko -->
				<li>
					<a href="#" data-bind="command: addCharacter">
						<i class="icon-plus"></i>Add Character
					</a>
				</li>
			</ul>
		</div>


		<div class="span7">
			<!-- ko compose: view --><!-- /ko -->
		</div>
		

		<div class="span3 chat">
			<div class="chat-messages" data-bind="foreach: campaign().chatMessages">
				<div class="message-container">
					<!-- ko compose: $data --><!-- /ko -->
				</div>
			</div>

			<input  data-bind="value: messageInput, enterKey: sendMessage" rows="3"></input>
			<button class="btn btn-small" data-bind="click: sendMessage">Send</button>
		</div>
	</div>

</div>