<!-- Outer Div to eat the transition css -->
<div>
    <form class="form-signin" data-bind="submit: login">
        <h2 class="form-signin-heading" data-bind="text: loginFailed() ? 'Credentials Failed' : 'Please sign in'"></h2>
        <input type="text" class="input-block-level autofocus" placeholder="Username" data-bind="value: username, valueUpdate: 'afterkeydown'">
        <input type="password" class="input-block-level" placeholder="Password" data-bind="value: password, valueUpdate: 'afterkeydown'">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" data-bind="command: login, activity: login.isExecuting, css: { 'btn-danger': loginFailed }">Sign in</button>
        <button class="btn btn-large" data-bind="click: showCreateLogin">Register</button>
    </form>
</div>